/* Clase para el bot칩n de registrar */
.oe_time_control {
    color: white;
    background: url(../img/bac.jpg);
    background-size: 100% 100%;
    height: 100%;
}

/* Clase para mostrar la hora */
.style_hour{
    font-size: 45px;
    margin-top: 0%;
    margin-left: 10%;
}

/* margen del imput */
.margin {
    margin-left: 15%;

}

/* Clase para el bot칩n de registrar */
.styled-button {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	padding: 8px 20px !important;
	font-family:'Helvetica Neue',Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	height:32px;
	text-shadow:#FE6 0 1px 0;
	background-image: linear-gradient(to bottom, #D2D731, #DFE425) !important;
	margin-top: 6px !important;
}

/* fondo del modulo */
.styled-button: hover {
	background-image: linear-gradient(to bottom, #fff, #fff) !important;
}

/* tama침o del bot칩n */
.input-size {
	padding:9px 50px !important;
}